<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>FastAPI Frontend</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>User API</h1>

<section>
    <h2>Create user</h2>

    <input id="name" placeholder="Name" />
    <input id="phone" placeholder="Phone number" />
    <input id="email" placeholder="Email" />
    <input id="password" type="password" placeholder="Password" />

    <button onclick="createUser()">Create</button>
</section>

<pre id="output"></pre>

<script src="/static/js/app.js"></script>
</body>
</html>